<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Cricket Scoresheet</title>
<!--		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/ui/jquery-ui.js"></script>
		<script type="text/javascript" src="js/test-scripts.js"></script>
		<link rel="stylesheet" href="js/themes/pepper-grinder/jquery-ui.css" />		
		<link rel="stylesheet" href="styles.css" /> -->
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
	<body id="home">
		<table width="100%">
			<tr>
				<td width="40%">
					<table id="home_nav" class="nav">
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= link_to "Matches", matches_path %></td>
						</tr>
						<tr>
							<td><%= link_to "Create New Match", new_match_path %></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="60%">
					<div class="home_splash">Cricket Scoresheet</div>
				</td>
			</tr>
		</table>
	</body>
</html>
